*
ucode/*
!README.md
!.gitignore
!ucode/.gitignore
!ucode/config.xml
!ucode/ionic.project
!ucode/package.json
!ucode/bower.json
!ucode/gulpfile.js
!ucode/scss/
!ucode/scss/*
!ucode/scss/**/*
!ucode/www/
!ucode/www/*
!ucode/www/**/*
!ucode/www/app
!ucode/www/app/*
!ucode/www/app/**/*
ucode/www/lib/*
