<ion-modal-view class='modal'>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="vm.showResetWarning()">
      Reset Data
    </button>
    <h1 class="subtitle title">Edit Social</h1>
    <button class="button button-clear" ng-click="vm.closeEditModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="center-button-container padding text-center" ng-if="vm.noMediaSelected()">
      <button class="center-button button button-positive" ng-click="vm.showAddModal()">Add Media</button>
    </div>
    <info-card ng-repeat="(socKey, socVal) in vm.socialMedia" ng-if="socVal.data.selected" title="{{socVal.sharePkg.title}}">
      <input class="card-input" ng-if="socVal.sharePkg.username != null" type="text" placeholder="{{socVal.sharePkg.username}}" ng-model="vm.newInputs[socKey].sharePkg.username">
      <input class="card-input" ng-if="socVal.sharePkg.username == null" type="text" placeholder="Enter Username..." ng-model="vm.newInputs[socKey].sharePkg.username">
      <input class="card-input" ng-if="socVal.sharePkg.url != null" type="text" placeholder="{{socVal.sharePkg.url}}" ng-model="vm.newInputs[socKey].sharePkg.url">
      <input class="card-input" ng-if="socVal.sharePkg.url == null" type="text" placeholder="Enter Profile URL.." ng-model="vm.newInputs[socKey].sharePkg.url">
    </info-card>
  </ion-content>
</ion-modal-view>
