<ion-modal-view class='modal'>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="vm.showResetWarning()">
      Reset Data
    </button>
    <h1 class="subtitle title">Edit Social</h1>
    <button class="button button-clear" ng-click="vm.closeEditModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="center-button-container padding text-center" ng-if="vm.noMediaSelected()">
      <button class="center-button button button-positive" ng-click="vm.showAddModal()">Add Media</button>
    </div>
    <info-card ng-repeat="media in vm.allSocialMedia" ng-if="media.selected" title="{{media.title}}" footer-action="vm.toggleSave()" toggle-save={{vm.replaceNameToggle}} save-action="vm.saveName(vm.newName)">
      <input class="card-input" ng-if="media.username != null" type="text" placeholder="{{media.username}}" ng-model="vm.newInputs[$index].username">
      <input class="card-input" ng-if="media.username == null" type="text" placeholder="Enter Username..." ng-model="vm.newInputs[$index].username">
      <input class="card-input" ng-if="media.url != null" type="text" placeholder="{{media.url}}" ng-model="vm.newInputs[$index].url">
      <input class="card-input" ng-if="media.url == null" type="text" placeholder="Enter Profile URL.." ng-model="vm.newInputs[$index].url">
    </info-card>
  </ion-content>
</ion-modal-view>
