<ion-view view-title="Social">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="vm.showEditModal()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding text-left">
      <button class="add-media button button-positive button-outline" ng-click="vm.showAddModal()">Select Media to Share</button>
    </div>
    <handle-display ng-repeat="(socKey, socVal) in vm.socialMedia" ng-if="socVal.data.selected" icon-img="socVal.data.img"
    title="socVal.sharePkg.title" username="socVal.sharePkg.username" url="socVal.sharePkg.url"></handle-display>
  </ion-content>
</ion-view>
