@import "_theme";

//======== Information Cards ========
.info-card-container{
  margin: 10px 0 10px 0;
}

.card-input {
  width: 100%;
}

info-card input[type="text"] {
   height: 30px;
   word-wrap: normal;
   width: 100%;
}

info-card textarea {
   width: 100%;
   resize: none;
}

textarea[readonly]:not(.cloned-text-input) {
   background: #ffffff;
   cursor: default;
}

input[type="text"]:disabled {
  background: #ffffff;
}

info-card .item {
  padding: 8px 10px 8px 10px;
}

//======== Icon Footer ========
.fixed-bottom {
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
}

.wrapper {
  margin: 0px 5% 12px 5%;
	width: 90%; /* arbitary for demo only */
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.internal {
  overflow-x: scroll;
  // padding-right: 15px;
}

.circle-icon-container {
  border-radius: 50%;
  //border: 1px solid $border-gray;
  overflow: hidden;
  height: 0;
  width: 50px;
  height: 50px;
  margin: 5px 7px 5px 7px;
  background: no-repeat center center;
  background-size: cover;
  display: inline-block;
}
