@import "_theme";

//======= About Section ========
.about-grid {
  margin: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

.about-unselected {
  color: $font-gray;
}

.about-selected {
  color: $main;
}

.about-grid i{
  font-size: 30px;
  display: inline-block;
}

.info-rectangle {
  width: 95%;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  color: $main;
  border-bottom: 1px solid $main;
  margin: 0 auto 0 auto;
}
