<ion-view view-title="{{vm.name}}">
  <ion-content>
    <div class="main-container">
      <div class="primary-toggle-selected" ng-if="vm.primaryToggle" ng-click="vm.togglePrimary()"></div>
      <div class="primary-toggle-deselected" ng-if="!vm.primaryToggle" ng-click="vm.togglePrimary()"></div>
      <div class="social-toggle-selected" ng-if="vm.socialToggle" ng-click="vm.toggleSocial()"></div>
      <div class="social-toggle-deselected" ng-if="!vm.socialToggle" ng-click="vm.toggleSocial()"></div>
      <div class="prof-toggle-selected" ng-if="vm.profToggle" ng-click="vm.toggleProf()"></div>
      <div class="prof-toggle-deselected" ng-if="!vm.profToggle" ng-click="vm.toggleProf()"></div>
      <div class="text-center ucode-container">
        <div class="text-center ucode-title">U Code</div>
        <div ng-switch="vm.qrType()" ng-click="vm.printAllData()">
          <img ng-switch-when="social" class="ucode-placeholder-image" src="img/social-qr.png">
          <img ng-switch-when="professional" class="ucode-placeholder-image" src="img/prof-qr.png">
          <img ng-switch-when="general" class="ucode-placeholder-image" src="img/gen-qr.png">
          <div ng-switch-default class="ucode-placeholder-image qr-placeholder-icon"><i class="icon ion-ios-barcode-outline"></i></div>
        </div>
      </div>
      <info-section title="Primary">
        <div class="padding">
          <about-section section-list="vm.primaryData" ng-if="vm.primaryToggle"></about-section>
        </div>
      </info-section>
      <info-section title="Professional">
        <div class="padding">
          <media-icon-list prof-list="vm.profMedia" ng-if="vm.profToggle"></media-icon-list>
        </div>
      </info-section>
      <info-section title="Social">
        <div class="padding">
          <media-icon-list social-list="vm.socialMedia" ng-if="vm.socialToggle"></media-icon-list>
        </div>
      </info-section>
    </div>
    <div class="lens-container">
      <div class="lens" style="background-image:url('img/color-lens.png')">
      </div>
    </div>
  </ion-content>
</ion-view>
