<ion-modal-view class='modal'>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="vm.showResetWarning()">
      Clear All
    </button>
    <h1 class="subtitle title">Edit Primary</h1>
    <button class="button button-clear" ng-click="vm.closeEditModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content>
    <info-card title="Name" footer-action="vm.toggleReplaceName()" toggle-save={{vm.replaceNameToggle}} save-action="vm.saveName(vm.newName)" replace="{{vm.primaryInfo.name != null}}">
      <input class="card-input" ng-if="vm.primaryInfo.name != null" type="text" value="{{vm.primaryInfo.name}}" disabled>
      <input class="card-input" type="text" ng-if="vm.primaryInfo.name == null && !vm.replaceNameToggle" value="None Yet" disabled/>
      <input class="card-input" type="text" ng-model="vm.newName" placeholder="Enter name here..." ng-if="vm.replaceNameToggle">
    </info-card>

    <info-card title="Emails" footer-action="vm.toggleAddEmail()" toggle-save={{vm.addEmailToggle}} save-action="vm.saveEmail(vm.newEmail)" replace=false>
      <div ng-repeat="email in vm.primaryInfo.emails">
        <input class="card-input" type="text" ng-if="email" value="{{email}}"/ disabled>
      </div>
      <input class="card-input" type="text" ng-if="vm.primaryInfo.emails.length == 0 && !vm.addEmailToggle" value="None Yet" disabled/>
      <input class="card-input" type="email" ng-model="vm.newEmail" placeholder="Enter email here..." ng-if="vm.addEmailToggle">
    </info-card>

    <info-card title="Phone Numbers" footer-action="vm.toggleAddPhone()" toggle-save={{vm.addPhoneToggle}} save-action="vm.savePhone(vm.newPhone)" replace=false>
      <div ng-repeat="number in vm.primaryInfo.phones">
        <input class="card-input" type="text" ng-if="number" value="{{number}}"/ disabled>
      </div>
      <input class="card-input" type="text" ng-if="vm.primaryInfo.phones.length == 0 && !vm.addPhoneToggle" value="None Yet" disabled/>
      <input class="card-input" type="tel" ng-model="vm.newPhone" placeholder="Enter number here..." ng-if="vm.addPhoneToggle">
    </info-card>

    <info-card title="Current School" footer-action="vm.toggleReplaceSchool()" toggle-save={{vm.replaceSchoolToggle}} save-action="vm.saveSchool(vm.newSchool)" replace="{{vm.primaryInfo.school != null}}">
      <input class="card-input" ng-if="vm.primaryInfo.school != null" type="text" value="{{vm.primaryInfo.school}}" disabled>
      <input class="card-input" type="text" ng-if="vm.primaryInfo.school == null && !vm.replaceSchoolToggle" value="None Yet" disabled/>
      <input class="card-input" type="text" ng-model="vm.newSchool" placeholder="Enter school here..." ng-if="vm.replaceSchoolToggle">
    </info-card>

    <info-card title="Address" footer-action="vm.toggleReplaceAddress()" toggle-save={{vm.replaceAddressToggle}} save-action="vm.saveAddress(vm.newAddress)" replace="{{!vm.isNullAddress(vm.primaryInfo.address)}}">
      <textarea ng-if="!vm.isNullAddress(vm.primaryInfo.address)" rows=3 readonly>{{vm.formattedAddress(vm.primaryInfo.address)}}</textarea>
      <p ng-if="vm.isNullAddress(vm.primaryInfo.address) && !vm.replaceAddressToggle">None Yet</p>
      <div ng-if="vm.replaceAddressToggle">
        <input class="card-input" type="text" ng-model="vm.newAddress.street" placeholder="Street Address...">
        <input class="card-input" type="text" ng-model="vm.newAddress.city" placeholder="City...">
        <input class="card-input" type="text" ng-model="vm.newAddress.state" placeholder="State...">
        <input class="card-input" type="text" ng-model="vm.newAddress.country" placeholder="Country...">
        <input class="card-input" type="text" ng-model="vm.newAddress.zipcode" placeholder="Zipcode...">
      </div>
    </info-card>

    <info-card title="Websites" footer-action="vm.toggleAddWebsite()" toggle-save={{vm.addWebsiteToggle}} save-action="vm.saveWebsite(vm.newWebsite)" replace=false>
      <div ng-repeat="site in vm.primaryInfo.websites">
        <input class="card-input" type="text" ng-if="site" value="{{site}}"/ disabled>
      </div>
      <input class="card-input" type="text" ng-if="vm.primaryInfo.websites.length == 0 && !vm.addWebsiteToggle" value="None Yet" disabled/>
      <input class="card-input" type="url" ng-model="vm.newWebsite" placeholder="Enter website here..." ng-if="vm.addWebsiteToggle">
    </info-card>
  </ion-content>
</ion-modal-view>
