<ion-modal-view class='modal'>
  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="vm.showResetWarning()">
      Clear All
    </button>
    <h1 class="subtitle title">Edit Primary</h1>
    <button class="button button-clear" ng-click="vm.closeEditModal()">
      Done
    </button>
  </ion-header-bar>
  <ion-content>
    <info-card title="Name">
      <input class="card-input" ng-if="vm.primaryInfo.name != null" type="text" placeholder="{{vm.primaryInfo.name}}" ng-model="vm.newInputs.name">
      <input class="card-input" ng-if="vm.primaryInfo.name == null" type="text" placeholder="Enter name here..." ng-model="vm.newInputs.name">
    </info-card>

    <info-card title="Emails">
      <div ng-repeat="email in vm.primaryInfo.emails">
        <input class="card-input" type="email" ng-if="email" placeholder="{{email}}" ng-model="vm.primaryInfo.emails[$index]">
      </div>
      <input class="card-input" type="email" ng-keyup="$event.keyCode == 13 && vm.addNewEmail()" ng-model="vm.newInputs.email" placeholder="Enter another email here...">
    </info-card>

    <info-card title="Phone Numbers">
      <div ng-repeat="number in vm.primaryInfo.phones">
        <input class="card-input" type="tel" ng-if="number" placeholder="{{number}}" ng-model="vm.primaryInfo.phones[$index]">
      </div>
      <input class="card-input" type="tel" ng-keyup="$event.keyCode == 13 && vm.addNewPhone()" ng-model="vm.newInputs.phone" placeholder="Enter another number here...">
    </info-card>

    <info-card title="Current School">
      <input class="card-input" ng-if="vm.primaryInfo.school != null" type="text" placeholder="{{vm.primaryInfo.school}}" ng-model="vm.newInputs.school">
      <input class="card-input" ng-if="vm.primaryInfo.school == null" type="text" placeholder="Enter school here..." ng-model="vm.newInputs.school">
    </info-card>

    <info-card title="Address">
      <textarea ng-if="!vm.isNullAddress(vm.primaryInfo.address)" rows=3 readonly>{{vm.formattedAddress(vm.primaryInfo.address)}}</textarea>
      <p ng-if="!vm.isNullAddress(vm.primaryInfo.address)">Edit Address</p>
      <input class="card-input" type="text" ng-model="vm.newInputs.address.street" placeholder="Street Address...">
      <input class="card-input" type="text" ng-model="vm.newInputs.address.city" placeholder="City...">
      <input class="card-input" type="text" ng-model="vm.newInputs.address.state" placeholder="State...">
      <input class="card-input" type="text" ng-model="vm.newInputs.address.country" placeholder="Country...">
      <input class="card-input" type="text" ng-model="vm.newInputs.address.zipcode" placeholder="Zipcode...">
    </info-card>

    <info-card title="Websites">
      <div ng-repeat="site in vm.primaryInfo.websites">
        <input class="card-input" type="url" ng-if="site" placeholder="{{site}}" ng-model="vm.primaryInfo.site[$index]">
      </div>
      <input class="card-input" type="url" ng-keyup="$event.keyCode == 13 && vm.addNewWebsite()" ng-model="vm.newInputs.website" placeholder="Enter another website here...">
    </info-card>
  </ion-content>
</ion-modal-view>
