<ion-view view-title="Primary">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="vm.showEditModal()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <info-card title="Name" show-footer=false>
      <p ng-if="vm.primaryInfo.name.value != null" type="text">{{vm.primaryInfo.name.value}}</p>
      <p ng-if="vm.primaryInfo.name.value == null">None Yet</p>
    </info-card>

    <info-card title="Emails" show-footer=false>
      <div ng-repeat="email in vm.primaryInfo.emails.value">
        <p ng-if="email">{{email}}</p>
      </div>
      <p ng-if="vm.primaryInfo.emails.value.length == 0">None Yet</p>
    </info-card>

    <info-card title="Phone Numbers" show-footer=false>
      <div ng-repeat="number in vm.primaryInfo.phones.value">
        <p ng-if="number">{{number}}</p>
      </div>
      <p ng-if="vm.primaryInfo.phones.value.length == 0">None Yet</p>
    </info-card>

    <info-card title="Current School" show-footer=false>
      <p ng-if="vm.primaryInfo.school.value != null">{{vm.primaryInfo.school.value}}</p>
      <p ng-if="vm.primaryInfo.school.value == null">None Yet</p>
    </info-card>

    <info-card title="Address" show-footer=false>
      <textarea ng-if="!vm.isNullAddress(vm.primaryInfo.address.value)" rows=3 readonly>{{vm.formattedAddress(vm.primaryInfo.address.value)}}</textarea>
      <p ng-if="vm.isNullAddress(vm.primaryInfo.address.value)">None Yet</p>
    </info-card>

    <info-card title="Websites" show-footer=false>
      <div ng-repeat="site in vm.primaryInfo.websites.value">
        <p ng-if="site">{{site}}</p>
      </div>
      <p ng-if="vm.primaryInfo.websites.value.length == 0">None Yet</p>
    </info-card>
  </ion-content>
</ion-view>
